includeConfig 'VERSION'

manifest {
    homePage = 'https://github.com/mirnylab/distiller-nf'
    mainScript = 'distiller.nf'
}

process.container = "mirnylab/distiller_env:${version}"
process.shell = ['/bin/bash', '-uexo','pipefail']

// nextflow run distiller --compression_format gz --config_dir /shared/path
params {
    compression_format = 'lz4'
    container_cache_dir = './'
    custom_config = 'custom.config'
    aws_config = 'aws.config'
}

profiles {

    standard {
        includeConfig "configs/local.config"
    }

    cluster {
        includeConfig "configs/cluster.config"
    }
    
    custom {
         includeConfig "${params.custom_config}" 
    }

    awsbatch {
         includeConfig "${params.aws_config}"
    }

    docker {
      docker.enabled = true
      docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

    singularity {
      singularity.enabled = true
      singularity.autoMounts = true
    }
}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}
