process {
    executor='awsbatch'
    memory='4 GB'
    maxRetries = 1
    errorStrategy = 'retry'
    queue = 'super-queue'

    distillerTmpDir='./'

    withName: download_sra{
        cpus = 1
        maxForks = 15
    }

    withName: download_truncate_chunk_fastqs {        
        maxForks = 10
        cpus = 2 
        memory = '2 GB'
    }

    withName: local_truncate_chunk_fastqs {        
        cpus = 2
        memory = '2 GB'
    }

    withName: fastqc {
        cpus = 2
        memory = '3 GB'
    }

    withName: map_parse_sort_chunks {
        cpus = 4
        memory = '8 GB'
    }

    withName: merge_dedup_splitbam {
        cpus = 3 
        memory = '8 GB'
    }

    withName: bin_zoom_library_pairs {
        cpus = 6
        memory = '16 GB'
    }

    withName: merge_zoom_library_group_coolers {
        cpus = 6
        memory = '16 GB'
    }
}
